.car1 {
    background-image: url('../../../assets/img/master-slide-02.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.car2 {
    background-image: url('../../../assets/img/master-slide-01.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.car3 {
    background-image: url('../../../assets/img/master-slide-04.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.l-img1 {
    background-image: url('../../../assets/img/banner-02.jpg');
}

.l-img2 {
    background-image: url('../../../assets/img/banner-05.jpg');
}

.c-img1 {
    background-image: url('../../../assets/img/banner-03.jpg');
}

.c-img2 {
    background-image: url('../../../assets/img/banner-07.jpg');
}

.r-img1 {
    background-image: url('../../../assets/img/banner-04.jpg');
}

.r-img2 {
    background-image: url('../../../assets/img/banner-09.jpg');
}

.car-1-1 {
    background-image: url('../../../assets/img/item-16.jpg');
}

.car-1-2 {
    background-image: url('../../../assets/img/item-12.jpg');
}

.car-1-3 {
    background-image: url('../../../assets/img/item-10.jpg');
}

.car-1-4 {
    background-image: url('../../../assets/img/item-03.jpg');
}

.car-2-1 {
    background-image: url('../../../assets/img/item-15.jpg');
}

.car-2-2 {
    background-image: url('../../../assets/img/item-13.jpg');
}

.car-2-3 {
    background-image: url('../../../assets/img/item-04.jpg');
}

.car-2-4 {
    background-image: url('../../../assets/img/item-11.jpg');
}

.sec-4-bg {
    background-image: url('../../../assets/img/banner-08.jpg');
}

.sec-4-bg-2 {
    background-image: url('../../../assets/img/shop-item-09.jpg');
}

.sec-5-1 {
    background-image: url('../../../assets/img/blog-01.jpg');
}

.sec-5-2 {
    background-image: url('../../../assets/img/blog-02.jpg');
}

.sec-5-3 {
    background-image: url('../../../assets/img/blog-03.jpg');
}