.car1 {
    background-image: url('../../../assets/img/master-slide-02.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.car2 {
    background-image: url('../../../assets/img/master-slide-01.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.car3 {
    background-image: url('../../../assets/img/master-slide-04.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.l-img1 {
    background-image: url('../../../assets/img/banner-02.jpg');
}

.l-img2 {
    background-image: url('../../../assets/img/banner-05.jpg');
}

.c-img1 {
    background-image: url('../../../assets/img/banner-03.jpg');
}

.c-img2 {
    background-image: url('../../../assets/img/banner-07.jpg');
}

.r-img1 {
    background-image: url('../../../assets/img/banner-04.jpg');
}

.r-img2 {
    background-image: url('../../../assets/img/banner-09.jpg');
}

